body {
  font-family: 'Karla', sans-serif;
}
.grid-component {
  display: flex;
  flex-direction: column;
}
.top-section {
  display: flex;
  flex-direction: column;
  background-color: blue;
}

.lower-section {
  display: flex;
  flex-direction: row;
}

.subscription {
  display: flex;
  flex-direction: column;
  background-color: hsl(179, 62%, 43%);
}

.why-us {
 background-color: hsl(170, 62%, 43%);
}

.lower-header h1 {
  font-size: 15px;
  font-weight: 700;
  color: white;
}
