body {
  font-family: 'Karla', sans-serif;
}
.grid-component {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 500px;
}
.top-section {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.top-section p {
  font-color: hsl(218, 22%, 67%);
  font-weight: 400;
}

.lower-section {
  display: flex;
  flex-direction: row;
  width: 100%
}

.subscription {
  display: flex;
  flex-direction: column;
  background-color: hsl(170, 62%, 43%);
  width: 50%;
}

#sub-price-per-month {
  display: flex;
  flex-direction: row;
}

.why-us {
 background-color: hsl(179, 62%, 43%);
  width: 50%;
}

.lower-header h1 {
  font-size: 15px;
  font-weight: 700;
  color: hsl(204, 43%, 93%);
}

button {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: hsl(71, 73%, 54%);
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
